* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    transition: background .2s linear;
}

#s-back {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s-back video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

header .grid-layout nav {
    margin: 0;
    padding: 5px 150px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
}

header .grid-layout nav .menu ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

#s-back .clock {
    background: transparent;
    backdrop-filter: blur(10px);
    width: 500px;
    height: 700px;
    border: 2px #986dff solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#s-back .clock button {
    margin: 10px 0;
    padding: 5px;
    font-size: 1.2rem;
    width: 120px;
    background: transparent;
    border: 2px #986dff solid;
    color: #fff;
    transition: all .5s ease;
}

#s-back .clock button:hover {
    background-color: #986dff;
}

#s-back .clock #btn-pont {
    border-radius: 20px 0 0 20px;
}

#s-back .clock #btn-dig {
    border-radius: 0 20px 20px 0;
}